.naulink{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.container-times{
    background-color: rgba(146, 146, 175, 0.362);
    font-weight: bold;
    padding-right: 20px;
}
nav{
    text-decoration: none;
}